/.git/
/.github/
/.travis.yml
/deploy/
/docs/
/examples/
/tests/
/data/
/docker-compose.yml
/LICENSE
/Makefile
/README.md
**/__pycache__/
**/*.py[cod]
/.coverage
/.pytest_cache/
/htmlcov/
/.mypy_cache/
/.ruff_cache/
.DS_Store
*.log
*.mbtiles
*.osm.pbf
*.osc.gz
*.poly
*.tar
*.tar.gz
*.tgz
*.zip
*.png
