__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.coverage
htmlcov/

.venv/
venv/
env/
node_modules/

.DS_Store

data/import/
data/updates/
data/tiles/
*.osm.pbf
*.osc.gz
*.poly
*.mbtiles

*.tar
*.tar.gz
*.tgz
*.zip

*.png
*.log
